<div class="fade-in" #timeline>
    <p-timeline [value]="events" align="alternate">
        <ng-template pTemplate="marker" let-event>
            <span
                class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1 "
                [style]="{ 'background-color': event.color }">
                <i [class]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.company">
                <div class="font-bold">{{event.date}}</div>
                <div class="font-bold">{{event.location}}</div>
                <p class="text-left">
                    @for (desc of event.description; track $index) {
                    ● {{ desc }} <br>
                    }
                </p>
            </p-card>
        </ng-template>
    </p-timeline>
</div>