:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll-button { 
    width: fit-content;
    border-radius: 50%;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}