/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Source Code Pro';
    src: url('./assets/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype'),
        url('./assets/fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

html {
    height: 100%;
    width: 100%;

    body {
        height: 100%;
        margin: 0;
    }
}

// --------------------- Menu --------------------- //

.p-menubar {
    border: none;
    background-color: transparent;
}

p-menubar {
    display: flex;
    justify-content: right;
}

p-menubarsub {
    position: relative;
    top: 0.625rem;
}

@media screen and (max-width: 960px) {
    p-menubarsub {
        right: 7.5rem;

        .p-menubar-root-list {
            width: 7.2rem;
        }

        .p-menuitem-link {
            padding-left: 0.5rem;
        }
    }

    .p-menubar {
        .p-menubar-button {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

// --------------------- Buttons --------------------- //
.social-buttons {
    button {
        width: 1.875rem;
        height: 1.875rem;
    }
}


// --------------------- Image --------------------- //
p-image {
    width: 25rem;
    height: 25rem;

    &.profile-image {
        span {
            img {
                border-radius: 50%;
            }
        }
    }
}

// --------------------- Carousel --------------------- //
p-carousel {
    width: 40rem;
    display: block;
    margin: 0 auto;

    .surface-border {
        min-height: 37.5rem;
    }
}


// --------------------- Animations --------------------- //
.fade-in {
    animation: fadeIn;
    animation-timeline: view();
    animation-range: entry 0; // makes animation happen when element enters viewport
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}


// --------------------- Scrollbar --------------------- //
::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 0.625rem;
    border: 0.188rem solid transparent;
    background-clip: content-box;
}


@media screen and (max-width: 415px) {
    .about-section {
        width: 20rem;
        margin-left: 2rem !important;
    }

    p-menubar {
        width: 23rem;
    }

    p-image {
        margin-top: 5rem;
        width: 19rem;
        height: 19rem;

        img {
            width: 19rem;
            height: 19rem;
        }
    }

    p-carousel {
        width: 20rem;
    }

    .scroll-button {
        right: 3rem !important;
    }

}


// ---------------------- Tags ---------------------- //
.experience-tags {

    .p-element {
        position: relative;
        transition: transform 0.3s ease;
        overflow: hidden;
    }

    .p-element:hover {
        transform: translateY(-5px);
    }

    .p-element::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        transform: skewX(-30deg);
        z-index: 1;
        transition: none;
    }

    .p-element:hover::before {
        animation: slide-across 1s forwards;
    }

    @keyframes slide-across {
        0% {
            left: -100%;
        }

        100% {
            left: 100%;
        }
    }
}

p-tag {
    cursor: default;
}